<%- include('../template_parts/head')%>

<body>
    <%- include('../template_parts/header')%>
    
<main>


    <form action="" method="post" class="form_adhesion">

        <!-- ---------------------------------- -->
        <!-- PROF                               -->
        <!-- FORMULAIRE de saisie Infos générales -->
        <!-- ---------------------------------- -->

        <%- include('../template_parts/adhesion/prof_infosgenerale')%>


        <!-- ---------------------------------- -->
        <!-- PROF                               -->
        <!-- FORMULAIRE de saisie DIPLOMES -->
        <!-- ---------------------------------- -->

        <!-- ---------------------------------- -->
        <!-- PROF                               -->
        <!-- VEUT-IL SAISIR DIPLOME ? -->
        <!-- ---------------------------------- -->
        <div class="input_checkbox">
            <input type="checkbox" name="check_prof_diplome" id="check_prof_diplome" onclick="prof_diplome()">
            <label for="check_prof_diplome">Vous êtes diplômé de la pédagogie Suzuki</label>
        </div>

        <%- include('../template_parts/adhesion/prof_diplome')%>


        <!-- ---------------------------------- -->
        <!-- PROF                               -->
        <!-- FORMULAIRE de saisie de l'instrument dont il veut apprendre la pédagogie Suzuki -->
        <!-- ---------------------------------- -->

        <!-- ---------------------------------- -->
        <!-- PROF                               -->
        <!-- VEUT-IL ENTRER EN FORMATION ? -->
        <!-- ---------------------------------- -->

        <div class="input_checkbox">
            <input type="checkbox" name="check_prof_formation" id="check_prof_formation" onclick="prof_formation()">
            <label for="check_prof_formation">Vous souhaitez obtenir un diplôme de la pédagogie Suzuki et entrer en formation</label>
        </div>

        <%- include('../template_parts/adhesion/prof_formation')%>


        <!-- ---------------------------------- -->
        <!-- PROF                               -->
        <!-- Ajouter des élèves ? -->
        <!-- ---------------------------------- -->

        <div class="input_checkbox">
            <input type="checkbox" name="check_prof_eleve" id="check_prof_eleve" onclick="prof_eleve()">
            <label for="check_prof_eleve">Vous souhaitez inscrire à l’adhésion annuelle vos enfants qui suivent des cours selon la pédagogie Suzuki (compris dans la prix de l’adhésion professeur)</label>
        </div>


        <%- include('../template_parts/adhesion/eleves')%>

        <!-- ---------------------------------- -->
        <!-- BOUTON ENREGISTRER -->
        <!-- ---------------------------------- -->
        <button type="submit" class="button_icone">
            <span class="btn_icone">+</span><span class="btn_texte">PAIEMENT</span>
        </button>

    </form>

    <div class="paiement_explication">
        <p>En cliquant sur ce bouton vous procèderez au paiement.</p>
        <p>Vous ne pourrez plus revenir sur votre adhésion.</p>
        <p>L'adhésion et le paiement se font au même moment.</p>
        <p>Si vous voulez revenir plus tard nous vous conseillons de fermer cette fenêtre et de recommencer l'adhésion au moment de votre choix.</p>
    </div>
    
    

</main>

</body>

 <!-- JAVASCRIPT d'EXECUTION -->
 <script src="/public/js/adhesion_prof.js"></script>

<%- include('../template_parts/footer')%>