<%- include('../template_parts/head')%>

<body>

  <!-- ---------------------------------- -->
  <!-- HEADER -->
  <!-- ---------------------------------- -->
  <%- include('../template_parts/header')%>

  <!-- ---------------------------------- -->
  <!-- FORMULAIRE de vérification du mail -->
  <!-- ---------------------------------- -->

  <main>

    <!-- AFFICHAGE DES MESSAGES ERREURS RETOUR DE POST FORMULAIRE -->
    <% if (locals.err_mail_form_adhesion_1) { %>
      <div class="erreur">
        <p><%= err_mail_form_adhesion_1 %></p>
        <p><%= err_mail_form_adhesion_2 %></p>
        <p><%= err_mail_form_adhesion_3 %></p>
      </div>
    <% }; %>

      
    <!-- lE formuaire -->
    <%- include('../template_parts/adhesion/check_mail')%>

  </main>


  






  <!-- ---------------------------------- -->
  <!-- FOOTER -->
  <!-- ---------------------------------- -->
  <%- include('../template_parts/footer')%>

</body>

</html>