<%- include('../template_parts/head')%>

<body>
    <%- include('../template_parts/header')%>
    

   
    <p>C'est le body</p>


   

    <!-- ---------------------------------- -->
    <!-- PROF                               -->
    <!-- FORMULAIRE de saisie Infos générales -->
    <!-- ---------------------------------- -->

    <%- include('../template_parts/adhesion/prof_infosgenerale')%>


    <!-- ---------------------------------- -->
    <!-- PROF                               -->
    <!-- FORMULAIRE de saisie DIPLOMES -->
    <!-- ---------------------------------- -->

    <%- include('../template_parts/adhesion/prof_diplome')%>



</body>

<%- include('../template_parts/footer')%>